body {
    background-color: #f0f4f8;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #3009f4;
}

a {
    color: #ff6600;
    text-decoration: none;
}

img {
    border-radius: 5px;
    margin-top: 5px;
}

button {
    background-color : rgb(50, 232, 38);

}